/* common styles */
.page_container {
    margin:-8px;
    height: 100vh;
    width: 100vw;
}

.searchbar input {
    border-radius: 5px;
    width: 350px;
    height: 30px;
}

/* homepage styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cb807d;
    margin-left: 0px;
}

.header .logo img {
    width: 9rem;
}

.header .account_button .button_wrapper {
    margin-right: 30px;
}

/* login styles */

/* user styles */