.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #987284;
    margin-left: 0px;
}

.header .logo img {
    width: 9rem;
}

.header .account_button .button_wrapper {
    margin-right: 30px;
}

.page_container {
    margin:-8px;
    height: 100vh;
    width: 100vw;
}

.searchbar input {
    border-radius: 5px;
    width: 350px;
    height: 30px;
    border: 2px solid #2C2C34
}

.account_button .button_wrapper a{
    height: 50px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;   
}
.account_button .button_wrapper button {
    border: 2px solid #2C2C34;
}

.page_content {
    display: flex;
    background-color: #E1CA96;
    height: 100%;
}
.page_content .user_form {
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: flex-start;
}

.page_content .user_form .create_account, .login_account {
    background: #839073;
    border-radius: 15px;
    height: 150px;
    margin-top: 15px;
}

.page_content .user_form h3 {
    color: #513B0B;
}

.page_content .user_form input {
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
    border: 2px solid #2C2C34;
    height: 20px;
}


.footer {
    display: flex;
    justify-content: center;
    background-color: #E1CA96;

}